#Hero-container {
  background-color: #4c566a;
}
#Hero-title {
  color: #eceff4;
}
.li-custom {
  background-color: #6c7a97;
}
.p-custom {
  color: #eceff4;
}

@media (min-width: 992px) {
  .p-custom {
    font-size: 1.25rem;
  }
}
