.team-empty-text {
  color: #eceff4;
}

#powerstats:hover {
  opacity: 0.9;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#teamcard-container {
  background-color: #4c566a;
  color: #eceff4;
  transition: all 400ms ease-in-out;
}
#teamcard:hover {
  cursor: pointer;
}
#heroPowerstats {
  background-color: #eceff4;
  color: #3b4252;
}
#team-powerstats {
  background-color: #3b4252;
  color: #eceff4;
  border: #eceff4 solid 1px;
}
#team-powerstats > :first-child {
  font-size: 1.4rem;
  color: #479c57;
}
#team-powerstats-title {
  color: #eceff4;
}
#team-avg {
  background-color: #3b4252;
  color: #eceff4;
  border: #eceff4 solid 1px;
}
#team-bad-container {
  border: #b65252 solid 2px;
  border-radius: 5%;
}
#team-bad-title {
  color: #b65252;
}
#team-good-container {
  border: #479c57 solid 2px;
  border-radius: 5%;
}
#team-good-title {
  color: #479c57;
}
.team-clickForInfo {
  color: #eceff4;
}
#heroPowerstats {
  animation: fadeIn linear 500ms;
}
#heroPowerstats i {
  font-size: 1.5rem;
}
.heroPowerstats-p {
  font-size: 0.6rem;
  margin-bottom: 0;
}

/*MQ*/

@media (min-width: 1200px) {
  .heroPowerstats-p {
    font-size: 0.8rem !important;
  }
  #heroPowerstats i {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .cont-powerstats {
    order: 2 !important;
  }
  .cont-goodteam {
    order: 3 !important;
  }
  .cont-badteam {
    order: 1 !important;
  }
  .heroPowerstats-p {
    font-size: 1.2rem;
  }
  #heroPowerstats i {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  #teamcard-tapForInfo {
    display: none;
  }
  .heroPowerstats-p {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .team-clickForInfo {
    display: none;
  }
}
