#powerstats {
  height: 100%;
  font-size: 70%;
  opacity: 0;
  transition: 400ms;
}

#powerstats:hover {
  opacity: 0.9;
}

#teamcard {
  transition: all 400ms ease-in-out;
}

#teamcard:hover {
  transform: scale(1.3);
}
#heroPowerstats {
  z-index: 9;
}
#heroPowerstats i {
  font-size: 1.4rem;
}
