@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

body {
  min-height: 100vh;
  background-image: linear-gradient(#3b4252, #191c24);
}
/*CLASES GENERALES*/
.action-button {
  background-color: #74c0fc;
  transition: 400ms;
}
.action-button:hover {
  background-color: #339af0;
}
.error-message {
  margin: 0 auto;
  font-weight: 600;
  color: #e03131;
  animation: fadeIn linear 500ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*NAV*/
nav {
  background-color: #4c566a;
}
nav h3 {
  color: #eceff4;
  transition: 500ms;
}
nav h3:hover {
  color: #339af0;
}
nav .btn {
  background-color: #e03131;
  transition: 500ms;
}
nav .btn:hover {
  background-color: #c92a2a;
}

/*LOGIN*/
.login-label {
  color: #eceff4;
}
/*SEARCHBAR*/
#searchbar-text {
  color: #eceff4;
}

/*MQ*/
@media (min-width: 992px) {
  #login-container {
    width: 25% !important;
  }
}
